# Source global definitions
{% if ansible_os_family == "RedHat" %} 
[ -f /etc/bashrc ] && source /etc/bashrc
{% else %}
[ -f /etc/bash.bashrc ] && source /etc/bash.bashrc
{% endif %}

# Source user definitions
[ -f $HOME/.cargo/env ] && source "$HOME/.cargo/env"
[ -f $HOME/.config/skim/completion.bash ] && source "$HOME/.config/skim/completion.bash"
[ -f $HOME/.config/skim/key-bindings.bash ] && source "$HOME/.config/skim/key-bindings.bash"

# User specific environment and startup programs
{% if ansible_system == "Linux" and desktop == "kde" %}
export GTK_USE_PORTAL=1
{% endif %}
export EDITOR="nvim"
export JAVA_HOME="/usr/lib/jvm/default"
export JAVA_INCLUDE_DIR="$JAVA_HOME/include"
export PATH="$HOME/go/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
{% if ansible_os_family == "Darwin" %}
export PATH="/opt/homebrew/bin:$PATH"
{% endif %}

# Aliases
alias code="code-insiders"
alias ll="ls -alh"

# User specific environment and startup programs
eval "$(starship init bash)"
eval "$(zellij setup --generate-auto-start bash)"
